.app__Menu {
    background: var(--color-black);
    flex-direction: column;
}

.app__Menu-title {
    margin-bottom: 2rem;
    text-align: center;
}

.app__Menu-content {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;
    width: 100%;
}

.app__Menu-content-heading {
    color: var(--color-white);
    font-family: var(--font-base);
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: .1rem;
    line-height: 4rem;
}

.app__Menu-content-soup,
.app__Menu-content-rice {
    flex: 1;
    flex-direction: column;
    width: 100%;
}

.app__Menu-img {
    margin: 0 2 rem;
    width: 40rem;
}

.app__Menu-img img{
    height: auto;
    width: 100%;
}

.app__Menu-content-item {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    width: 100%;
}

@media screen and (min-width: 2000px) {
    
    .app__Menu-img {
        width: 60rem;
    }
    
    .app__Menu-img img {
        height: 90rem;
    }
    
}

@media screen and (max-width: 1200px) {
    
    .app__Menu-content {
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    
    .app__Menu-img {
        margin: 3rem 0;
    }
    
}

@media screen and (max-width: 650px) {
    
    .app__Menu-img {
        width: 100%;
    }
    
    .app__Menu-content-heading {
        font-size: 3rem;
        line-height: 4rem;
    }
    
}
