.app__Newsletter {
    background: var(--color-black);
    border: .1rem solid var(--color-gold-metallic);
    padding: 2rem 4rem;
}

.app__Newsletter-header {
    text-align: center;
}

.app__Newsletter-input {
    flex-direction: row;
    margin-top: 3rem;
}

.app__Newsletter-input input {
    background: var(--color-black);
    border: .1rem solid var(--color-gold-metallic);
    border-radius: .5rem;
    color: var(--color-white);
    font-family: var(--font-base);
    font-size: 1rem;
    margin-right: 2rem;
    padding: .7rem 1 1rem;
    width: 60rem;
}

.app__Newsletter-input button {
    width: max-content;
}

@media screen and (min-width: 2000px) {

    .app__Newsletter-input input {
        font-size: 2rem;
    }

}

@media screen and (max-width: 990px) {

    .app__Newsletter-input {
        flex-direction: column;
        width: 100%;
    }

    .app__Newsletter-input input {
        margin: 0 0 2rem 0;
        width: 100%;
    }

}

@media screen and (max-width: 650px) {

    .app__Newsletter {
        padding: 2rem 0;
        border: none;
    }

}

@media screen and (max-width: 300px) {

    .app__Newsletter-header h1 {
        font-size: 3rem;
        line-height: 5rem;
    }

}
