.app__Overlay {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.app__Overlay-bg {
    background: var(--color-black);
    height: 25%;
}

.app__Overlay-img {
    height: 75%;
}
