.app__nav {
    align-items: center;
    background: var(--color-black);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    width: 100%;
}

.app__nav-logo {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.app__nav-logo img {
    height: 3rem;
    width: 3rem;
}

.app__nav-links {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    list-style: none;
}

.app__nav-links li {
    cursor: pointer;
    margin: 0 1rem;
}

.app__nav-links li:hover {
    color: var(--color-grey);
}

.app__nav-book {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.app__nav-book a {
    margin: 0 1rem;
    text-decoration: none;
    transition: 0.5s ease;
}

.app__nav-book a:hover {
    border-bottom: .1rem solid var(--color-gold-metallic);
}

.app__nav-menu {
    display: none;
}

.app__nav-menu-overlay {
    background: var(--color-black);
    flex-direction: column;
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    transition: 0.5s ease;
    width: 100%;
    z-index: 5;
}

.app__nav-menu-overlay .overlay__close {
    color: var(--color-gold-metallic);
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
}

.app__nav-menu-links {
    list-style: none;
}

.app__nav-menu-links li {
    color: var(--color-gold-metallic);
    cursor: pointer;
    font-family: var(--font-base);
    font-size: 2rem;
    margin: 2rem;
    text-align: center;
}

.app__nav-menu-links li:hover {
    color: var(--color-white);
}

@media screen and (min-width: 2000px) {
    
    .app__nav-logo img {
        height: 4rem;
        width: 4rem;
    }
    
}

@media screen and (max-width: 1150px) {
    
    .app__nav-links {
        display: none;
    }

    .app__nav-menu {
        display: flex;
    }
    
}

@media screen and (max-width: 650px) {
    
    .app__nav {
        padding: 1rem;
    }

    .app__nav-book {
        display: none;
    }
    
}
